.about-container {
  background-color: #FBFCFF;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
  font-family: "Lato", sans-serif;
  flex-wrap: wrap;
}

.about-left{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 38rem;
  min-height: 42rem;
  margin-top: 12vh;
  background-color: white;
  align-items: center;
}

.about-left {
  display: flex;
  flex-direction: column;
}

.about-left h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

.about-left p {
  text-align: center;
  margin-top: auto;
  margin-bottom: 2rem;
  width: 95%;
  font-size: 1.2rem;
}

.about-right {
  display: flex;
  flex-direction: column;
  width: 38rem;
  height: 42rem;
  margin-top: 12vh;
  justify-content: center;
  align-items: center;
}

.about-right img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.about-stats {
  /* border: 1px solid red; */
  width: 100%;
  height: 38%;
  border-radius: 15px;
  margin-top: auto;
  margin: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-grid {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  justify-items: center;
}

.about-grid-item {
  width: 15rem;
  background-color: #FAFAFA;
  height: 5.5rem;
  /* border: 1px solid red; */
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;  
  align-items: center;
  justify-content: center;
  text-align: center;
}