.background-image {
  width: 100vw;
  min-height: 100vh;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), /* dark overlay */
    url('../assets/hillman.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-container {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: clamp(1rem, 4vw, 3rem);
  line-height: 0.5;
  white-space: nowrap;
}

.home-buttons {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-align: center;

  display: flex;
  justify-content: center;
  gap: clamp(1.2rem, 4vw, 3rem);
  white-space: nowrap;
  font-size: clamp(0.85rem, 1.6vw, 1.1rem);
}

.home-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(4rem, 8vw, 8rem);
  padding: clamp(0.4rem, 1vw, 0.7rem);

  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
}

.home-buttons .about-us {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: clamp(0.4rem, 1vw, 0.7rem);
  width: clamp(4rem, 8vw, 8rem);
  color: #fff;
  text-decoration: none;
}

/* .home-buttons .about-us:hover {
  background-color: rgba(66, 66, 66, 0.6);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
} */

.home-buttons .contact-us {
  border: 1px solid rgb(0, 128, 255);
  border-radius: 0.5rem;
  background-color: rgb(0, 128, 255);
  padding: clamp(0.4rem, 1vw, 0.7rem);
  width: clamp(4rem, 7vw, 8rem);
  color: #fff;
  text-decoration: none;
}

/* .home-buttons .contact-us:hover {
  border: 1px solid rgb(0, 128, 255, 0.6);
  background-color: rgba(0, 128, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
} */

/* @media (max-width: 1100px) {
  .home-container {
    font-size: 1.6rem;
    padding-top: 22vh;
    line-height: 1;
  }
} */